
# Do not add images
media/*

# environment
.vscode

# Python redundant files
*.pyc

# Frontend environment
package-lock.json
yarn.lock

# Results folder
Results-folder

# Pycharm
.idea

# model configuration
model_conf.json
simple_model_conf.json

# Ignore data folder
data
combined_data

# Data produce 
*.asv
*.csv


