
# Do not add images
media/*

# environment
.vscode

# Python redundant files
*.pyc

# Frontend environment
package-lock.json
yarn.lock

# Results folder
Results-folder

# Pycharm
.idea

# model configuration
model_conf.json

# 
*.asv
*.csv
